#wrapper
{
	background-color: #fff;
}
p
{
	color: #727272;
}
img{max-width:100%;}

.white
{
	color: #fff!important;
}
ul.contact-top li
{
	color: #fff;
}
ul.contact-top li i
{
	color: #9061C2;
}
.pagetitle-separator
{
	background: url("../images/divider_purple.png") no-repeat;
}
.header-section
{
	background-color: #060c17;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.site-logo h2 a
{
	color: #fff;
}
.input-group>.form-control
{
	background-color: #fff;
}
.input-group>.input-group-addon
{
	
	background-color: #fff;
	color: #202020;
}
.input-group-addon:before
{ content: "\f002";
    font-family: FontAwesome; }
.input-group>.input-group-addon
{
	color: #9061C2;
}
.navbar
{
	background-color: #fff!important;
	border-left: 2px solid #9061C2!important;
	border-right: 2px solid #9061C2!important;
	border-top: 2px solid #9061C2!important;
}
.navbar-default .navbar-nav>li>a
{
	border-right: 1px solid #ddd;
	color: #060c17;
	font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover
{
	background-color: #9061C2!important;
	border-right: 1px solid #9061C2;
	color: #fff!important;
}
.dropdown-menu
{
	background-color: #2f3338;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}
.dropdown-menu>li>a
{
	background-color: #060c17;
	border-bottom: 1px solid #101010!important;
	color: #fff!important;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus
{
	background-color: #9061C2!important;
	color: #fff!important;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
{
	background-color: #9061C2!important;
	border-right: 1px solid #9061C2;
	color: #fff!important;
}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus
{
	background-color: #9061C2!important;
	color: #fff!important;
}
.carousel-caption p
{
	color: #fff;
}
.carou-direction-nav a
{
	background-color: rgba(0,0,0,0.7);
}
.carou-direction-nav :hover .carou-prev
{
	background: #9061C2;
}
.carou-direction-nav :hover .carou-next
{
	background: #9061C2;
}
.carou-direction-nav :hover .carou-next:hover,.carou-direction-nav :hover .carou-prev:hover
{
	color: #fff!important;
}
.carou-direction-nav a:before
{
	color: #fff;
}
.main-btn {
    border: 2px solid #9061C2;
    background-color: #9061C2;
    box-shadow: 0 3px 0 #7141a5;
    color: #fff;
}
.main-btn:hover {
    border: 2px solid #7141a5;
    background-color:#7141a5;
    color: #fff !important;
}
.home_services
{
	background-color: rgba(15,15,15,0.01);
	border: 1px solid rgba(15,15,15,0.07);
}
.home_services h3
{
	border-bottom: 1px solid rgba(15,15,15,0.07);
}
.home_services h3>a
{
	color: #202020;
}
.home_services i
{
	color: #9061C2;
}
.home-gallery-col
{
	border-bottom: 3px solid #9061C2;
}
.home-gallery-col .home-gallery-details h3 a
{
	color: #303030;
}
.gallery-showcase-overlay
{
	background: #000;
}
.home-gallery-img .gallery-showcase-icons a
{
	background: #fff;
	border-bottom: 3px solid #eee;
	color: #000;
}
.home-gallery-col:hover .home-gallery-details h3 a
{
	color: #9061C2;
}

.page-title-section .overlay
{
	background: none repeat scroll 0 0 rgba(0,0,0,0.6);
}
.about-section h2
{
	color: #060c17;
}
.about-section p
{
	color: #929292;
}
.our-teacher .box-container h3
{
	color: #eab830;
}
.our-teacher .box-container span
{
	color: #ef4836;
}
.our-teacher .box-container .read-more
{
	color: #ef4836;
}
.service-showcase-overlay{
	background: #000;
}
.teacher-image .service-showcase-icons a
{
	color: #fff;
}
.social-icon a
{
	background-color: #eee;
	border: 1px solid #eee;
}
.social-icon a i
{
	color: #060c17;
}
.social-icon i:hover
{
	color: #060c17!important;
}
.social-icon a:hover
{
	background-color: #eee!important;
	color: #060c17!important;
}
.teamdesc
{
	background-color: #eae9e9;
}
.teamdesc p
{
	color: #545454;
}
p.your-para
{
	color: #888;
}
.contact-grid input[type="text"],.contact-grid textarea
{
	background: #fff;
	border: 1px solid #DADADA;
}
p.sed-para
{
	color: #303030;
}
p.para1
{
	color: #555;
}
.address-more p,.address-left p
{
	color: #555;
}
.address-left p a
{
	color: #555;
}
.send input[type="submit"]
{
	background: #020202;
	color: #fff;
}
.send input[type="submit"]:hover
{
	background: #2ad2c9;
}
.footer
{
	background-color: #060c17;
	color: #fff;
}
.footer-widget h4
{
	color: #fff;
}
.footer-widget p
{
	color: #d1d1d1;
}
.footer-widget ul li a
{
	color: #d1d1d1;
}
.footer-blog-post h3 a
{
	color: #eee;
}
.footer-blog-post span
{
	color: #d1d1d1;
}
.contact_link a
{
	color: #ccc;
}
.contact_link a i
{
	color: #fff;
}
.footer-social-icon a i
{
	color: #fff;
}
.facebook:hover
{
	background: #3b5998;
}
.twitter:hover
{
	background: #4099FF;
}
.skype:hover
{
	background: #00aff0;
}
.google-plus:hover
{
	background: #d34836;
}
.footer-bottom
{
	background-color: #040914;
}
.callout-section
{
	background: url("images/bg-2.jpg") no-repeat fixed 0 0 / cover rgba(0,0,0,0);
}
.testimonial-area
{
	background: url("images/bg-3.jpg") no-repeat fixed 0 0 / cover rgba(0,0,0,0)!important;
}
.callout-section .overlay
{
	background: none repeat scroll 0 0 rgba(0,0,0,0.7);
}
.course-scroll-btn li
{
	background: #060c17;
	color: #fff;
}
.course-scroll-btn li:hover
{
	background-color: #9061C2;
}
.course-scroll-btn li a
{
	color: #fff;
}
.course-scroll-btn li a:hover{
	color: #fff;
}
.blog-section{
	background-color: #fff;
}
.sm-sidebar-widget{
	background-color: #eee;
	border: 1px solid #eee;
}
.sm-widget-title{
	background-color: #060c17;
	border-right: 3px solid #9061C2;
}
.sm-widget-title h3{
	color: #fff;
}
.sm-sidebar-widget>.input-group{
	display: block;
	position: relative;
}
.sm-sidebar-widget>.input-group>.form-control{
	border: 1px solid #eee;
}
.sm-sidebar-post{
	border-bottom: 1px dotted #c5d1dc;
}
.sm-sidebar-post h4{
	color: #0f0f16;
}
.sm-sidebar-post h4 a{
	color: #0f0f16;
}
.sm-sidebar-post p{
	color: #64646d;
}
.sm-sidebar-post:hover h4 a{
	color: #e32235;
}
.sm-sidebar-post-area img{
	box-shadow: 0 0 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.sm-sidebar-post:hover .sm-sidebar-post-area img{
	opacity: .7px;
}
ul.post-content{
	list-style: none outside none;
	margin-bottom: 0;
	padding: 0;
}
ul.post-content li{
	border-bottom: 1px dotted #c5d1dc;
	display: block;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: .8px;
	line-height: 20px;
	margin-right: 0;
	padding-bottom: 12px;
	padding-top: 12px;
	vertical-align: top;
}
ul.post-content li a{
	color: #64646d;
}
ul.post-content li:hover a , .footer-widget .cat-item a:hover,.footer-widget ul li a:hover{
	color: #9061C2;
}
ul.post-content>li>a:before , .footer-widget .cat-item a:before{
	color: #9061C2;
}
.sm-sidebar-widget-tags a{
	border: 1px solid #9061C2;
	color: #060C17;
}
.sm-sidebar-widget-tags a:hover{
	background-color: #9061C2;
	border: 1px solid #9061C2;
	color: #fff;
}
.hc_scrollup{
	background: #9061C2;
}
.hc_scrollup i{
	color: #fff;
}
.comment_title h3{
	border-bottom: 1px solid #E9E9E9;
	color: #121212;
}
.comment_title h3>i{
	color: #ccc;
}
.comment_img{
	border: 2px solid #eee;
}
.comment_detail{
	border: 2px solid #ddd;
}
.comment_detail p{
	color: #6a6a6a;
}
.comment_date{
	color: #b3b3b3;
}
.reply a{
	color: #9061C2;
}
.comment_form_section h2{
	border-bottom: 1px solid #E0E0E0;
	color: #121212;
}
.comment_form_section h2>i{
	color: #ccc;
}
.con_input_control{
	background-color: #FFF;
	border: 1px solid #c5c5c5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	color: #555;
}
.con_textarea_control{
	background-color: #FFF;
	border: 1px solid #c5c5c5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	color: #555;
}
.con_input_control:focus,.con_textarea_control:focus{
	border-color: #f8504b;
	box-shadow: inset 0 0 0 #f8504b,0 0 5px #f8504b;
	-webkit-box-shadow: inset 0 0 0 #f8504b,0 0 5px #f8504b;
}
.blog-page-section{
	background-color: #fff;
}
.bg-gery{
	background-color: #eee;
}
.blog-area{
	background-color: #eee;
}
.home-blog-section .blog-area{
	box-shadow: 0 2px 6px rgba(0,0,0,0.4)!important;
}
.blog-detail-section{
	background-color: #3c3f49;
}
.blog-post-date{
	background-color: #FFF;
}
.blog-post-date span.date{
	background-color: #060C17;
	border-left: 2px solid #9061C2;
	color: #FFF;
}
.blog-post-date span.comment{
	color: #2a2c33;
}
.blog-post-date span.comment>i{
	color: #00c2a9;
}
.blog-post-title-wrapper h2{
	color: #060C17;
}
.blog-post-title-wrapper h2 a{
	color: #64646d;
}
.blog-post-title-wrapper h2 a:hover{
	color: #9061C2;
}
.blog-post-title-wrapper p,.blog-post-title-wrapper-full p{
	color: #64646d;
}
.blog-post-detail{
	border-bottom: 1px dotted #64646d;
	color: #64646d;
}
.blog-post-detail a{
	color: #64646d;
}
.blog-post-detail a:hover{
	color: #9061C2;
}
.blog-post-detail a>i{
	color: #060C17;
}
.blog-pagination a:hover,.blog-pagination a.active{
	background-color: #9061C2;
	border-bottom: 2px solid #90a503;
	color: #fff !important;
}
.blog-pagination a{
	background-color: #060c17;
	border-bottom: 2px solid #040914;
	color: #FFF;
}
.home-blog-title-wrapper h2{
	color: #060C17;
}
.home-blog-title-wrapper h2 a{
	color: #64646d;
}
.home-blog-title-wrapper h2 a:hover{
	color: #9061C2;
}
.home-blog-title-wrapper p{
	color: #64646d;
}
.testi-img img{
	border: 2px solid #eee;
}
#testimonial .carousel-indicators .active{
	background: #fff!important;
}
#testimonial p{
	color: #fff;
}
#testimonial small{
	color: #ccc;
}
#testimonial h6{
	color: #fff;
}
.testi-pager .testi-pagi li{
	border: 1px solid #e4e4e4!important;
	transition: all .3s ease-in-out 0s;
}
.top-breadcrumb>li a{
	color: #fff;
}
.top-breadcrumb>li.active a{
	color: #9061C2;
}
.top-breadcrumb>li+li:before{
	color: #fff;
}
.gallery-tabs{
	background-color: #9061C2;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.gallery-tabs li a{
	border: 1px solid #9061C2;
	color: #fff;
}
.gallery-tabs li.active>a,.gallery-tabs li>a:hover{
	background-color: #90a503;
	border: 1px solid #90a503;
	color: #fff;
}
/*=================================================================================================================*/
ul.contact-top li{
	color: #fff;
}
ul.contact-top li i{
	color: #9061C2;
}
.screen-reader-text:focus
{
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
	color: #21759b;
}
code
{
	color: #9061C2!important;
}
blockquote
{
	border-left: 5px solid #9061C2!important;
}

.widget div#calendar_wrap table#wp-calendar
{
	background-color: #fcfcfc;
	border: 1px solid #e9e9e9;
}
.widget div#calendar_wrap table>caption
{
	color: #242526;
}
.widget div#calendar_wrap table#wp-calendar thead>tr
{
	background: #fcfcfc;
}
.widget div#calendar_wrap table>thead>tr>th
{
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 8px 10px;
	text-align: center;
}
#calendar_wrap a
{
	color: #9061C2;
}
.widget div#calendar_wrap table>thead>tr>th
{
	color: #FC6730;
}
.widget div#calendar_wrap table>tfoot>tr>td
{
	border: 1px solid #e9e9e9;
}
#calendar_wrap a:hover
{
	color: #90a503;
}
.widget div#calendar_wrap table>tbody>tr>td
{
	color: #727272;
}
td,th
{
	border: 1px solid #ccc!important;
}
.tagcloud a
{
	border: 2px solid #9061C2;
	color: #000;
}
.tagcloud a:hover
{
	background-color: #9061C2!important;
	color: hsl(0,100%,100%)!important;
}
.tagcloud li a
{
	background-color: #CCC!important;
	color: #fff;
}
.tagcloud li a:hover,.tagcloud li a:focus
{
	background-color: #FB662F!important;
}
.blog-post-title-wrapper a:hover
{
	color: #9061C2;
}
.error_404 h4 {
    color: #9061C2;
}
.error_404 h1 {
    color: #444;
}
.site-nav-previous, .nav-previous a
{ color:#64646d !important; }

.site-nav-previous, .nav-previous a:hover
{ color:#9061C2 !important; transition: all .3s ease 0s; }

.site-nav-next, .nav-next{
 float:right;
 font-family: 'OpenSansRegular';
 font-weight: 500;
 font-size:15px;
}
.site-nav-next, .nav-next a 
{ color:#64646d !important; }
.site-nav-next, .nav-next a:hover { color:#9061C2 !important; transition: all .3s ease 0s; }
/* Footer Calendar CSS */
#wp-calendar tbody tr td a{ color:#9061C2; }
#wp-calendar tbody tr td a:hover{ color:#fff; }
#wp-calendar tfoot tr td a{ color:#9061C2; }
#wp-calendar tfoot tr td a:hover{ color:#fff; }
.blog-pagination span {
    background-color: #9061C2 !important;
    color: #FFFFFF;
    border: 2px solid #89b142;
}
.footer .tagcloud a {
color:#fff !important;
}
caption {
    color: #d1d1d1 !important;
}
p.copyright {
    color: #d1d1d1;
}
.btn-info {
    color: #fff;
    background-color: #9061C2 !important;
    border-color: #9061C2 !important;
}
.search-box-top button.btn.btn-search {
    color: #fff;
    background: #9061C2;
	background-color: #9061C2;
}
.search-box-top button.btn.btn-search:hover {
    color: #fff;
    background: #9061C2;
	background-color: #9061C2;
    border: 2px solid #9061C2;
}
.modal-content{
  border: 4px solid #9061C2 !important;
  box-shadow: 0 3px 0 #9061C2;
}
ul.post-content li a:before, .footer-widget li a:before {
    color: #9061C2;
}
.woocommerce ul.products li.product h3 {
    color: #333;
}
.woocommerce ul.products li.product h3:hover{
	color:#9061C2;
}
.woocommerce ul.products li.product .button {
    background-color: #9061C2;
    border: 2px solid #9061C2;
    box-shadow: 0 3px 0 #96c346;
    color: #fff;
}
.woocommerce ul.products li.product .button:hover{
	background-color: #96c346;
    border: 2px solid #96c346;
    color: #fff;
}
.woocommerce a.added_to_cart{
    background-color: #9061C2;
    border: 2px solid #9061C2;
    box-shadow: 0 3px 0 #96c346;
    color: #fff;
}
.woocommerce ul.products li.product a img {
    box-shadow: 10px 10px 5px #888888;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button
{
    background-color: #9061C2;
    border: 2px solid #9061C2;
    box-shadow: 0 3px 0 #96c346;
    color: #fff;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover
{
	background-color: #96c346;
    border: 2px solid #96c346;
    color: #fff;
}
.woocommerce span.onsale
{
	background-color: #96c346;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background-color: #9061C2;
    border: 2px solid #9061C2;
    box-shadow: 0 3px 0 #96c346;
    color: #fff;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background-color: #96c346;
    border: 2px solid #96c346;
    color: #fff;
}
td.product-name a {
    color: #333;
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover
{
	background-color: #96c346;
    border: 2px solid #96c346;
    color: #fff;
}
.woocommerce-info {
    border-top-color: #9061C2;
}
.related h2{padding:0px 15px;}
a.showlogin {
    color: #9061C2;
}
a.showlogin:hover {
    color: #96c346;
}
.woocommerce-info:before {
    color: #9061C2;
}
.lost_password a {
    color: #9061C2;
}
.lost_password a:hover {
    color: #96c346;
}
a.showcoupon {
    color: #9061C2;
}
.woocommerce form .form-row .required {
    color: #9061C2;
}
.woocommerce p.stars a {
    color: #ffff00;
}
.woocommerce .star-rating span {
    color: #ffff00;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff !important;
}
div.wpcf7-mail-sent-ok {
    background: #9061C2 !important;
    color: #fff !important;
}
/*----Menu fixed top on scroll page---------*/
.navbar.affix{
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}
#pbCloseBtn:hover:before {
    background: #9061C2 !important;
}
.pbThumbs li.active a img {
    border-color: #9061C2 !important;
}